<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="#" th:action="@{/add}" th:object="${product}" method="post">
        <label>
            Model:
            <input type="text" name="model">
        </label>
        <label>
            Brand:
            <input type="text" th:value="${product.brand.brandName}" name="brand">
        </label>
        <label>
            BrandID:
            <input type="number" th:value="${product.brand.id}" name="brandId">
        </label>
        <label>
            Description:
            <input type="text"  name="description">
        </label>
        <label>
            Category:
            <input type="text" th:value="${product.category.categoryName}" name="category">
        </label>
        <label>
            CategoryID:
            <input type="number" th:value="${product.category.id}" name="categoryId">
        </label>
        <label>
            Quantity:
            <input type="number" name="quantity">
        </label>

        <button type="submit">Add Product</button>

    </form>
</body>
</html>